<h1>Meet the famazonians</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="./images/team.jpg" width="100%" alt="">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <p>
        Welcome to famazon, your ultimate online shopping destination! At famazon, we pride
        ourselves on being a one-stop shop for all your needs, offering an extensive range of high-quality products at
        unbeatable prices.
      </p>
    </div>
  </div>
  <div class="row">
    <h2>Our Mission</h2>
    <p>
      Our mission is to provide a seamless and enjoyable shopping experience, bringing you the best selection of goods
      from trusted brands around the world. Whether you're looking for the latest in electronics, fashion, home decor,
      beauty products, or everyday essentials, we've got you covered.
    </p>
    <h2>What We Offer</h2>
    <ul>

      <li>Diverse Product Range: From cutting-edge gadgets to trendy apparel, from luxurious home furnishings to health
        and wellness products, our catalog is designed to cater to every aspect of your lifestyle.</li>
      <li>Exceptional Customer Service: Our dedicated support team is always here to assist you with any inquiries or
        issues, ensuring that your shopping experience is as smooth as possible.</li>
      <li>Fast and Reliable Shipping: We understand the importance of timely delivery, and we work hard to ensure that
        your purchases reach you quickly and safely.</li>
      <li>Secure Shopping Experience: Your privacy and security are our top priorities. We use advanced encryption
        technologies to protect your personal information and offer multiple payment options for your convenience.</li>
    </ul>
    <img src="./images/location-areal.jpg" alt="">
    <h2>Why Choose Us?</h2>
    <p>
      At famazon, we believe that shopping should be easy, enjoyable, and affordable. We are constantly
      updating our inventory to bring you the latest products and trends. Our commitment to quality and customer
      satisfaction sets us apart from the competition.
    </p>
  </div>
</div>